body{
    background-image: linear-gradient(rgb(59, 88, 83), rgb(29, 40, 42));
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

#InfoMusic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

.button{
    font-size: 1.5em;
}

.button-navigate{
    font-size: 2em;
}

.button-biggest{
    font-size: 2.5em;
}